@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* SHARED STYLES */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.inter {
  font-family: "Inter", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.btn-primary {
  color: white;
  background-color: rgba(78, 71, 255, 1);
  border-radius: 10px;
  border: none;
  padding: 12px 36px;
  font-weight: 700;
}

/* HEADER & NAVBAR STYLES */
header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  max-width: 1140px;
  margin: 0 auto;
}

nav h1 {
  font-size: 34px;
  font-weight: 900;
  color: rgba(78, 71, 255, 1);
}

.banner-content {
  text-align: center;
  padding: 150px 0px;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 50px;
  color: rgba(37, 36, 50, 1);
}

/* ACTION SECTION STYLES */
.action {
  margin: 120px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-content h2 {
  font-size: 42px;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 24px;
}

.action-content p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 24px;
}

.action-image img {
  border-radius: 48px;
}

/* JOIN SECTION STYLES */
.join {
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
  padding: 50px 140px;
  border-radius: 24px;
  margin-bottom: 120px;
}

.join h2 {
  font-size: 38px;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 60px;
}

.join-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-number h3 {
  font-size: 80px;
  font-weight: 700;
  color: rgba(78, 71, 255, 1);
}

.join-number p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
