@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(245, 248, 255, 1);
}

/* SHARED STYLES */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.inter {
  font-family: "Inter", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.btn-primary {
  color: white;
  background-color: rgba(78, 71, 255, 1);
  border-radius: 10px;
  border: none;
  padding: 12px 36px;
  font-weight: 700;
}

.btn-primary:hover {
  color: rgba(78, 71, 255, 1);
  background-color: white;
  cursor: pointer;
}

/* HEADER & NAVBAR STYLES */
header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  max-width: 1140px;
  margin: 0 auto;
}

nav h1 {
  font-size: 34px;
  font-weight: 900;
  color: rgba(78, 71, 255, 1);
}

.banner-content {
  text-align: center;
  padding: 150px 0px;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 50px;
  color: rgba(37, 36, 50, 1);
}

/* ACTION SECTION STYLES */
.action {
  margin: 120px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-content h2 {
  font-size: 42px;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 24px;
}

.action-content p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 24px;
}

.action-image img {
  border-radius: 48px;
}

/* JOIN SECTION STYLES */
.join {
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
  padding: 50px 140px;
  border-radius: 24px;
  margin-bottom: 120px;
}

.join h2 {
  font-size: 38px;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 60px;
}

.join-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-number h3 {
  font-size: 80px;
  font-weight: 700;
  color: rgba(78, 71, 255, 1);
}

.join-number p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* USERS SECTION STYLES */
.users {
  margin-bottom: 120px;
}

.users h2 {
  font-size: 42px;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.card {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(242, 237, 237, 1);
  border-radius: 14px;
  padding: 24px;
  max-width: 350px;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgba(30, 30, 30, 1);
}

.card p {
  color: rgba(30, 30, 30, 1);
  margin-bottom: 24px;
}

.user-details {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user-details img {
  border-radius: 50%;
}

.user-details h4 {
  font-weight: 600;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 4px;
}

.user-details h5 {
  color: rgba(179, 179, 179, 1);
}
/* FOCUS SECTION STYLES */
.focus {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 70px 150px;
  border-radius: 16px;
  margin-bottom: 120px;
}

.focus h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.focus p {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.focus-image {
  margin-top: 30px;
}

.focus-image img {
  border-radius: 48px;
}

/* NEWSLETTER SECTION STYLES */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.newsletter-heading {
  max-width: 528px;
}

.newsletter-heading h2 {
  font-size: 97px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.newsletter-form {
  width: 497px;
}

.newsletter-form-content label {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  display: block;
}

.newsletter-form-content input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.newsletter-form-content input,
textarea {
  padding: 20px 0px 20px 20px;
  border-radius: 10px;
  border: 1px solid rgba(214, 221, 237, 1);
  margin-bottom: 20px;
  display: block;
  width: 96%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

/* FOOTER STYLES */
footer {
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 105px 455px;
}

.footer-content {
  max-width: 530px;
  margin: 0 auto;
  text-align: center;
}

.footer-content h2 {
  font-size: 100px;
  font-weight: 900;
  color: rgba(78, 71, 255, 1);
  margin-bottom: 10px;
}

.footer-content p {
  color: rgba(137, 135, 161, 1);
  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-flex p:hover {
  cursor: pointer;
  text-decoration: underline;
}
